body {
    background-image: url('2353c4ce623b57482e851931777ff2bd.png'); /* Change 'background_image.jpg' to your image file */
    background-repeat: no-repeat;
    background-attachment:fixed;
  background-size: 100% 100%;
}
.buttons-container  {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin-top: 20px; /* Adjust the margin as needed */
    text-align: center;
    
}

.button {
    display: block;
    width: 200px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: #d6dce2; /* Change the color as needed */
    opacity:0,8;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    margin: 10px auto; /* Adjust the margin as needed */
    border-radius: 5px; /* Adjust the border-radius as needed */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; /* Change the hover color as needed */
}

.logo {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    margin-right: 10px; /* Adjust margin as needed */
}



.navbar {
    background-color: white;
    height: 50px; /* Adjust the height as needed */
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    padding: 0 20px; /* Add padding to create space between logo and text */
}

.navbar-text {
    margin: 0;
    flex-grow: 1; /* Allow text to take up remaining space */
    text-align: center; /* Align text to the center */
}
.navbar h1 {
    margin: 0;
}