.menu-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .content {
    width: 100%;
    max-width: 800px;
  }
  
  .header {
    margin-bottom: 20px;
    color: white;
  }
  
  .header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .dish-container {
    display: inline-flex;
    width: 70px;
    
    /*grid-template-columns: repeat(2, 1fr); /* Change the number of columns as needed */
    gap: 5rem; /* Adjust the gap between dishes */
  }
  
  
  /* Adjust the styling of each dish if necessary */
  .dish-frame {
    width: 15rem; /* Adjust the width of each dish frame */
  }
  