.navbar {
  background-color: white;
  height: 50px; /* Adjust the height as needed */
  width: 90%;
  display:inline-block;
  justify-content:flex-start; /* Distribute items evenly */
  align-items: center;
  padding: 0 1rem; /* Add padding to create space between logo and text */
}

